h1{
    color:blue;
    border: 5px solid aquamarine;
}

h2{
    color:pink
}
li{
    color:whitesmoke;
}
body{
    background:url(https://images.unsplash.com/photo-1546962339-5ff89552b8ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)
}